body {
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  line-height: normal;
}

h1 {
  margin: 40px;
  font-size: 2em;
  font-weight: 600;
}

h2 {
  box-shadow: 0 0 5px gray;
  padding: 20px;
  font-size: 1.5em;
  font-weight: 600;
}

#matrix-container {
  background-color: rgb(240, 240, 240);
  padding: 20px;
  width: fit-content;
  margin: auto;
  visibility: hidden;
}

table {
  margin: 16px;
  border-collapse: collapse;
  border: 2px solid black;
}

td {
  border: 1px solid black;
  padding: 10px;
}

.diagonal {
  background-color: yellow;
  color: red;
}
